{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% if form.instance.id %}Editar Profesional{% else %}Nuevo Profesional{% endif %}</title>
    <link rel="icon" type="image/png" href="{% static 'principal/img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'principal/css/formularios.css' %}">    
</head>
<body>

<header>
    <h1>{% if form.instance.id %}Editar Profesional{% else %}Nuevo Profesional{% endif %}</h1>
</header>

<div class="form-container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>

    <a class="volver" href="{% url 'lista_profesionales' %}">← Volver a la lista</a>
</div>

</body>
</html>
