{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cirugía Programada</title>
    <link rel="icon" type="image/png" href="{% static 'principal/img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'principal/css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'principal/css/ver_detalles.css' %}">
</head>
<body>
<div class="contenedor">
    <div class="encabezado">
        <h2>🔪 Cirugía Programada para {{ consulta.mascota.nombre_mascota }}</h2>
        <h2>Detalles de Cirugía</h2>
        <small>Veterinaria Amigos Peludos</small>
    </div>

    <div class="datos-paciente">
        <p><strong>Mascota:</strong> {{ consulta.mascota.nombre_mascota }}</p>
        <p><strong>Profesional:</strong> {{ cirugia.profesional.nombre_prof }}</p>
        <p><strong>Procedimiento:</strong> {{ cirugia.procedimiento }}</p>
        <p><strong>Fecha:</strong> {{ cirugia.fecha_prog }}</p>
        <p><strong>Hora:</strong> {{ cirugia.hora_prog }}</p>
        <p><strong>Duración Aproximada:</strong> {{ cirugia.duracion_aprox }}</p>
        <p><strong>Estado:</strong> {{ cirugia.estado }}</p>

        {% if cirugia.descripcion_proced %}
        <p><strong>Descripción:</strong> {{ cirugia.descripcion_proced }}</p>
        {% endif %}

        {% if cirugia.observaciones_cirugia %}
        <p><strong>Observaciones:</strong> {{ cirugia.observaciones_cirugia }}</p>
        {% endif %}
    </div>

    <div class="acciones">
            <a href="{% url 'editar_cirugia' consulta.id %}" class="btn">✏️ Editar</a>
            <a href="{% url 'eliminar_cirugia' consulta.id %}" class="btn">🗑️ Eliminar</a>
            <button type="button" class="btn" onclick="window.history.back();">↩ Volver</button>
    </div>
</div>
</body>
</html>
